.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.loadingScreen {
  background-color: rgba(94, 90, 90, 0.569);
  width:100vw;
  height:100vh;
  position: absolute;
  z-index: 99;
  display:none;
  top:0;
}

.imgHolder {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.imgHolder img {
 align-self: center;
}

.breweryList li {
  // visibility: none;
  opacity: 100%;
  color: #fdfdfd;
  background-color: black;
  width: calc((100% / 2) - 20px);
  list-style: none;
  border: 2px solid black;
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  transition: all 0.5s linear;
  // max-height: 370px;
  // overflow: scroll;
}

.breweryList li.fade {
  visibility: initial;
  opacity: 100%;
}

.breweryList li.fade:hover,
.breweryList li.fade:focus {
  // animation: borderFlicker 7s infinite alternate;
  border: 2px solid #fdfdfd;
}

.breweryList a {
  color: #dba3d4;
    // -webkit-animation: flicker 7s infinite alternate;
    // animation: flicker 7s infinite alternate;
    text-decoration: none;
}

.errorBox {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  max-width: 800px;
}

.listButton {
background-color: transparent;
border:none;  
color:ivory;
max-width:70px;
}

.roadTripList {
  position:fixed;
  right:5px;
  top: 5px;
  // list-style: none;
  background-color: rgba(94, 90, 90, 0.569);
  color:#dba3d4;
  border: #fdfdfd;
  border-radius: 15px;
  width:25%;
}
.roadTripList ul {
    list-style: none;
}
.roadTripList.roadTripHide {
  display:none;
}

.addedCheck {
  width:100%;
  // max-width:50px;
}
.startAndEndFormHolder {
  position:absolute;
  height:100%;
  background-color:#000000d5;
  display:flex;
  align-items:center;
  padding:10px;
}
.startAndEndFormHolder.startAndEndFormHolderHide {
  display:none;
}
.buttonHolder button {
  margin:0px 10px;
  font-size: 1.2rem;
}

.inputHolder {
  margin:30px 0px;
}
.inputHolder input:not(#sameAsStart) {
  width:100%;
}
// #sameAsStart {
//   width:auto;
// }
// #map {
// height: 60%;
// width:60%;
// position:static;
// }