@import "setup.scss";
@import "variables.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "mediaQueries.scss";

html {
  font-size: 125%;
}

body {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), 100%, rgba(0,0,0,0)), url(../../media/brickWall.jpg);
  background-size: cover;
  font-family: $chathura;
  font-size: 1.5rem;
}







