footer {
  background-color: black;
  margin-bottom: 0;
  p {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0;
    a {
      color: rgb(247, 85, 247);
      text-decoration: none;
    }
  }
}
