header {
  padding-top: 40px;
}

h1 {
  font-family: $sourceSansPro;
  font-size: 4rem;
  padding-bottom: 100px;
  animation: flicker 7s infinite alternate;
}

.headWrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 900px;
  padding: 60px 80px;
  border-radius: 25px;
  text-align: center;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  animation: flickerborder 7s infinite alternate;
}

.breweryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
}

.headWrapper form {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.headWrapper input {
  padding: 10px;
  margin-right: 3%;
  display: inline-block;

    &:focus,
    &:hover, 
    &:active {
      outline: 1px solid white;
      box-shadow: 5px 5px 20px 10px white;
    }
}

.headWrapper select:focus,
.headWrapper select:hover {
  box-shadow: 5px 5px 20px 10px white;
}


.headWrapper form button {
  padding: 10px 40px;
  margin-top: 5%;
  color: white;
  border-radius: 100rem;
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #08f, #ff00de);
  background-origin: border-box;
  background-clip: border-box;
  box-shadow: 2px 1000px 1px black inset;
    
    &:hover,
    &:focus {
      box-shadow: none;
    }
}


/* Animate neon flicker */
@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem #ff00de,
          0 0 4rem #ff00de,
          0 0 6rem #ff00de,
          0 0 8rem #ff00de,
          0 0 10rem #ff00de;
  }

  20%, 24%, 55% {
      text-shadow: none;
  }
} 

@keyframes flickerborder {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      box-shadow:
          0 0 .5rem #fff,
          inset 0 0 .5rem #fff,
          0 0 2rem #08f,
          inset 0 0 2rem #08f,
          0 0 4rem #08f,
          inset 0 0 4rem #08f;
  }

  20%, 24%, 55% {
      box-shadow: none;
  }
} 