.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.breweryList li {
  visibility: none;
  opacity: 0%;
  color: rgb(253, 253, 253);
  background-color: black;
  width: calc((100% / 2) - 20px);
  list-style: none;
  border: 2px solid black;
  margin: 10px;
  padding: 10px 30px;
  text-align: center;
  transition: all 0.5s linear;
}

.breweryList li.fade {
  visibility: initial;
  opacity: 100%;
}

.breweryList li.fade:hover,
.breweryList li.fade:focus {
  animation: flickerborder 7s infinite alternate;
  border: 2px solid rgb(253, 253, 253);
}

.breweryList a {
  // text-decoration: none;
  color: rgb(219, 163, 212);
  // text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
  //   0 0 2rem #ff00de, 0 0 4rem #ff00de, 0 0 6rem #ff00de, 0 0 8rem #ff00de,
  //   0 0 10rem #ff00de;
  animation: flicker 7s infinite alternate;
}

.errorBox {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  max-width: 800px;
}
